@import "components/card/card.css";
@import "components/search-bar/search-bar.css";
@import "components/nav-button/nav-button.css";
@import "components/nav-pagination/nav-pagination.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: rgb(51, 51, 51);
  --color-secondary: #bfd470;
  --color-of-card: #70a2d4;
  --font-family: system-ui;
}

body {
  font-family: var(--font-family);
  color: var(--color-primary);
  background-color: var(--color-secondary);
  padding: 20px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.title {
  padding: 10px 0;
  width: 384px;
  height: 216px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
